<div class="container mt-5 fadeIn">
    <div class="row title">
        <div class="col-12">
            <h1>Nueva Transferencia</h1>
            <hr>
        </div>
    </div>
    <div class="col-12 ">
        <form [formGroup]="transferForm" (ngSubmit) ="submitForm()" class="form-horizontal ">
            <div class="row form-group">
                <div class="col-6 dropdown mb-6">
                    <select class="form-control " formControlName="destiny"  (change)="changeSelected()">
                        <option selected>Seleccione Destinatario</option>
                   <option *ngFor="let associate of associates" 
                       [value]="associate.rut">
                       {{associate.name}}</option>
                    </select>
                </div>
                      
            </div>
            <div *ngIf="showSelectedDetail" class="col-6">
                <table class="table table-borderless hover f-small-size w-40">
                    <tr>
                        <th>Rut</th>
                        <td align="right">{{selectedAssociate.rut}}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td align="right">{{selectedAssociate.name}}</td>
                    </tr>
                    <tr>
                        <th>Correo</th>
                        <td align="right">{{selectedAssociate.email}}</td>
                    </tr>
                    <tr>
                        <th>Telefono</th>
                        <td align="right">{{selectedAssociate.cellphone}}</td>
                    </tr>
                    <tr>
                        <th>Banco</th>
                        <td align="right">{{selectedAssociate.bank_name}}</td>
                    </tr>
                    <tr>
                        <th>Tipo de cuenta</th>
                        <td align="right">{{selectedAssociate.type_name}}</td>
                    </tr>
                    <tr>
                        <th>Numero de cuenta</th>
                        <td align="right">{{selectedAssociate.number}}</td>
                    </tr>


                </table>
            </div>
            <div class="row form-group mb-6" *ngIf="showSelectedDetail">
                <div class="col-6">
                    <label for="number" class="form-label">Monto</label>
                    <input type="number" formControlName="amount" class="form-control" id="number" aria-describedby="emailHelp">
                </div>
            </div>
            <br>
            <div class="row form-group-mb-6  mt-6 text-center" *ngIf="showSelectedDetail">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary " [disabled]="!transferForm.valid">Crear</button>
                </div>
                
            </div>
            <br><br>
        </form>
    </div>
</div>

