<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  id="./home" [routerLink]="['/home']">Bienvenido a MyBankApp!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" id="./associate" [routerLink]="['/associate']">Nuevo Destinatario </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" id="./transfer" [routerLink]="['/transfer']">Transferir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" id="./history" [routerLink]="['/history']">Historial de transferencias</a>
        </li>
        <li class="nav-item float-end logout">
          <a class="nav-link" routerLinkActive="active" id="./associate" [routerLink]="['/login']">Salir </a>
        </li>
      </ul>
    </div>
    
    
  </nav>

