
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      Bienvenido
    </div>

    <!-- Login Form -->
    <form  [formGroup]="loginForm" (ngSubmit) ="submitForm()">
      <input type="email" id="login" class="fadeIn second" name="email"  formControlName="email"  placeholder="Correo">
      <input type="password" id="password" class="fadeIn third" name="password" formControlName="password" placeholder="Contraseña">
      <button type="submit" class="fadeIn fourth" [disabled]="!loginForm.valid">Ingresar</button>
    </form>

    <div id="formFooter">
      <a class="underlineHover" routerLinkActive="active" id="./register" [routerLink]="['/register']">Eres nuevo?, Registrate</a>
    </div>
  </div>
</div>